@model IEnumerable<eStudenti.Models.Kurset>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmriKursit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ligjerusi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kredit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statusi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmriKursit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ligjerusi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kredit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statusi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KursiId" class="btn btn-outline-secondary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.KursiId" class="btn btn-outline-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.KursiId" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
